<div class="container">
  <div style="text-align: center">
    <h1>Smart on FHIR - Patient Info</h1>
    <p><strong>Username:</strong> FHIR</p>
    <p><strong>Password:</strong> EpicFhir11! </p>
    <a *ngIf="!code" class="btn btn-info" style="text-decoration: none" target="_self" [href]="authorizeLink">
      Sign in
    </a>
    <hr />
  </div>
  <div *ngIf="accesstoken">
    <p><strong>Patient Id:</strong> {{ patient }}</p>
    <span *ngIf="response.entry[0].resource.subject">
      medicationReferences of <strong>{{response.entry[0].resource.subject.display }}</strong> :
    </span>

    <ng-container *ngIf="!response.entry[0].resource.subject">
      There are no medications for patient: <strong>{{response.entry[0].resource.subject.display }}</strong>
    </ng-container>

    <span *ngFor="let medications of response.entry">
      <ng-container *ngIf="medications.resource">
        <p> {{ medications.resource.medicationReference.display}} </p>
      </ng-container>
    </span>

  </div>

  <button mat-button (click)="openModal()">Open Modal</button>
  <!-- {{openModal()}} -->

</div>